/* Demo Styles */
#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

h1 {
  font-size: 40px;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*-------------------loader-----------------------*/



/*-------------------header CSS------------------*/
#header{
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.user-box{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.user-box img{
	border-radius: 50%;
	width: 200px;
	border: 2px solid #6caed5;
}
.user-box h1{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}
.user-box p{
	color: #fff;

}

